
/.vs/Company/FileContentIndex
/.vs/Company/FileContentIndex
/.vs/Company/FileContentIndex
.vs/Company/FileContentIndex/a0de2e99-7036-407f-b7ce-0d567eff98bb.vsidx
.vs/Company/FileContentIndex/d004c012-bf42-4003-806c-2c0c00d97b3c.vsidx
